@media only screen and (width <=374px) {
    :root {
        --font-base-size: 16px;
    }

    .custom-width {
        padding: 0em 1em;
    }
}

@media only screen and (width > 375px) {
    :root {
        --font-base-size: 16.5px;
    }

    .custom-width {
        padding: 0em 1em;
    }
}

@media only screen and (width > 479px) {
    :root {
        --font-base-size: 16.5px;
    }
}

@media only screen and (width > 767px) {
    :root {
        --font-base-size: 18px;
    }
}

@media only screen and (width > 1439px) {
    :root {
        --font-base-size: 19px;
    }

}

@media only screen and (width > 1919px) {
    :root {
        --font-base-size: 20px;
    }

}

@media only screen and (width > 2559px) {
    :root {
        --font-base-size: 22px;
    }

}

@media only screen and (width > 3199px) {
    :root {
        --font-base-size: 24px;
    }

}

