@media only screen and (width <=480px) {
    :root {
        --font-base-size: 14px;
    }

    .custom-width {
        padding: 0em 1em;
    }
}

@media only screen and (width > 480px) {
    :root {
        --font-base-size: 14px;
    }

    .custom-width {
        padding: 0em 1em;
    }
}

@media only screen and (width > 768px) {
    :root {
        --font-base-size: 16px;
    }
}

@media only screen and (width > 1024px) {
    :root {
        --font-base-size: 18px;
    }
}

@media only screen and (width > 1440px) {
    :root {
        --font-base-size: 18px;
    }

}

@media only screen and (width > 1920px) {
    :root {
        --font-base-size: 22px;
    }

}

@media only screen and (width > 2560px) {
    :root {
        --font-base-size: 24px;
    }

}

@media only screen and (width > 3840px) {
    :root {
        --font-base-size: 28px;
    }

}

