.bottom-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--headings-font-hamily);
    border-top: 1px solid rgba(var(--font-color-rgb), 0.4);
    padding-top: 1em;
    color: rgba(var(--font-color-rgb), 0.2);
    font-weight: normal;
    text-align: right;
    font-size: 1em;
}

.bottom-bar span:nth-of-type(1) a {
    text-transform: uppercase;
    color: var(--color-second);
}

.bottom-bar span:nth-of-type(3) a {
    color: rgba(var(--font-color-rgb), 0.2);
    transition: color 0.3s ease-in;
}

.bottom-bar span:nth-of-type(3):hover a {
    color: rgba(var(--font-color-rgb), 0.3);
}