.btn-cta {
    padding: 0.3em 1.5em 0.4em;
    border-radius: 1.5em;
    cursor: pointer;

}

.btn-cta a {
    font-family: var(--body-font-family);
    font-weight: bold;
    letter-spacing: 0.2em;
    color: var(--font-color);
    text-shadow: var(--text-shadow);
    transition: all 0.3s ease-in;
}

.btn-cta:hover a {
    font-size: 1.1em;
}

.btns .accent-main {
    background: linear-gradient(135deg, var(--color-main), var(--color-second));
}
