#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    font-size: 1em;
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(135deg, var(--color-main), var(--color-second));
    /*color: var(--font-color);*/
    padding: 0.6em 0.6em 0.2em 0.6em;
    border-radius: 0.1em;
    transition: all 0.7s ease-in-out;
}

#scrollTopBtn:hover {
    background-color: var(--color-second);
}

svg {
    width: 1.5em;
    height: 1.5em;
    opacity: 80%;
}

#scrollTopBtn:hover svg{
    width: 1.6em;
    height: 1.6em;
}



