.movie-info h2 {
    margin-top: 0;
}

.movie-ifno-header p {
    font-family: var(--headings-font-hamily);
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 1em;
    padding-top: 1.5em;
}


.movie-ifno-content p {
    padding-bottom: 0;
}

.movie-ifno-content ul {
    padding-bottom: 0;
}

.movie-ifno-content ul li .role {
    font-family: var(--headings-font-hamily);
    color: rgba(var(--font-color-rgb), 0.5);
    font-weight: 300;
    padding-right: 1em;
}

.movie-ifno-content ul li .name {
    font-family: var(--body-font-family);
    text-transform: uppercase;
    font-weight: normal;
}

.site-footer .folow {
    width: 2em;
    height: auto;
    justify-content: space-between;
    align-self: center;

}

