#email-footer,
#email-content {
    font-family: var(--body-font-family);
}

#email-content{
    padding-left: 0.5em;
}

#email-content a {
    color: var(--color-second);
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

.site-footer {
    padding-top: 2em;
    margin-top: 3em;
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom:0.5em;
}

.footer-item p {
    font-family: var(--headings-font-hamily);
    padding-bottom: 0.3em;
}

.footer-item ul {
    padding-bottom: 0.5em;
}

