:root {
    --font-base-size: 12px;
    --font-line-height: 1.5;
    --base-spacing: 1.5em;
    --body-font-family: "Lato", sans-serif;
    --headings-font-hamily: "Oswald", sans-serif;
    --font-color: #f5f5f5;
    --color-main-background: #1c1c1c;
    --color-main: #3a0ca3;
    --color-main-rgb: 58, 12, 163;
    --color-main-second: #4361ee;
    --color-main-second-rgb: 67, 97, 238;
    --color-main-third: #4cc9f0;
    --color-second: #7209b7;
    --color-second-rgb: 114, 9, 183;
    --color-accent: #f72585;
    --transparency: 0.4;
    --border: 1px solid rgba(var(--color-white-rgb), var(--transparency));
    --border-color-main: 1px solid var(--color-main);
    --border-color-main-second: 3px solid var(--color-second);
    --border-color-main-background: 1px solid rgb(var(--color-main-background));
    --box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.05);
    --text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);

}