:root {
    --font-base-size: 12px;
    --font-line-height: 1.5;
    --base-spacing: 1.5em;
    --body-font-family: "Lato", sans-serif;
    --headings-font-hamily: "Oswald", sans-serif;
    --font-color: #f5f5f5;
    --font-color-rgb: 245, 245, 245;
    --color-main-background: #1c1c1c;
    --color-main-background-rgb: 28, 28, 28;
    --color-main: #6A0DAD;
    --color-main-rgb: 106, 13, 173;
    --color-second: #9D4EDD;
    --color-second-rgb: 157, 78, 221;
    --color-accent: ;
    --transparency: 0.4;
    --border: 1px solid rgba(var(--color-white-rgb), var(--transparency));
    --border-color-main: 1px solid var(--color-main);
    --border-color-main-second: 3px solid var(--color-second);
    --border-color-main-background: 1px solid rgb(var(--color-main-background));
    --box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.05);
    --text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
